// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// To use a font file (.woff) uncomment following lines
@font-face {
font-family: "Starjedi";
src: font-url('Starjedi.ttf') format('truetype');
}
// $my-font: "Font Name";

// Define fonts for body and headers
$body-font: "Starjedi", "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Starjedi", "Nunito", "Helvetica", "sans-serif";
