<h1>This is a rent</h1>

<h4>The datetime:</h4>
<p><%= @rent.start_year %> /to/ <%= @rent.end_year %></p>

<h4>The droid:</h4>
<p><%= @droid.name %></p>

<h4>We should display the name of the man who pay and the name of the mane who rennt !!!</h4>
