<div class="footer">
  <div class="footer-links">
    <a href="https://www.starwars.com/databank/jedi-order"><i class="fab fa-jedi-order"></i></a>
    <a href="https://www.starwars.com/databank/galactic-senate"><i class="fab fa-galactic-senate"></i></a>
    <a href="https://www.starwars.com/games-apps/star-wars-the-old-republic"><i class="fab fa-old-republic"></i></a>
    <a href="https://www.starwars.com/databank/galactic-republic"><i class="fab fa-galactic-republic"></i></a>
  </div>
  <div class="footer-copyright">
    The greatest teacher, failure is.
  </div>
</div>
