<h1>All droids</h1>

<% if policy(Droid).create? %>
  <%= link_to "Create a new robot", new_droid_path %>
<% end %>

<br>
<br>
<% @droids.each do |droid| %>
 <p> <%= droid.name %> </p>
 <p> <%=droid.category %> </p>
 <%= link_to "See details", droid_path(droid) %>
 <br>
 <br>
<% end %>
<br>
<br>
