<div class="home">
  <div class="home-content">
    <h5>May the Force Be With You</h5>
    <p id="p_margin_bottom">Rent the best Droid from all galaxies</p>
    <button><%= link_to "Light speed", droids_path %></button>
  </div>
</div>
