<nav class="navbar navbar-light bg-light">
  <p>home</p> <%= link_to "connexion", new_user_session_path, class: "btn btn-primary"%>
</nav>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
