.card-droid {
  overflow: hidden;
  height: 520px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
  padding: 20px;
  border-radius: 5px;
}

.all-description {
  display: flex;
  flex-direction: column;
  width: 66%;
  height: 100%;
}

.card-droid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-droid h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-droid p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-droid .card-droid-infos {
  padding: 16px;
}
.img-card {
  width: 30%;
  height: 100%;
}

.card-droid-infos {
  width: 64%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.droid-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.chose-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.owner img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.owner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.lien i {
  color: rgba(0,0,0,0.5);
}

.lien ul {
  list-style-type: none;
  padding: 0px;
}

.card-text {
  font-family: Work Sans;
}

.price {
  width: 100%;
  justify-content: center;
  text-align: center;

.descr {
  font-family: Work Sans;
}

.footer-card {
  display: flex;
  justify-content: space-between;
}

.joge {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.midle {
  display: flex;
  justify-content: space-between;
}

.price {
  padding: 40px;
}

.btn-book-date {
  margin-right: 100px;
  margin-top: 20px;
}

.scroll {
  overflow: scroll;
  max-height: 100px;
}

.form-group label {
  font-family: Work Sans;
  color: black;
}
