.container-new-rent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

.select {
  color: grey;
}

.btn-ask-for-rent {
  margin-top: 20px;
}
